  .cl-signIn-start {
    background: none;
    box-shadow: none;
  }


  .cl-card div:nth-child(n+4),
  .cl-footer {
    display: none;
  }

  .cl-socialButtons {
    background: rgba(254, 254, 254, 0.25);
    box-shadow: 0 8px 32px 0 rgba(66, 66, 66, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  #background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    /* opacity: 0.5; */
  }