  .cl-signIn-start {
    background: none;
    box-shadow: none;
  }


  .cl-card div:nth-child(n+4),
  .cl-footer,
  .cl-header,
  .cl-headerTitle,
  .cl-headerSubtitle {
    display: none;
  }

  .cl-socialButtons {
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border: none;
  }

  #background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    /* opacity: 0.5; */
  }